body{
    margin: 0;
    padding: 0;
    background-image: url(lb.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 470px;
    background:#000;
    color:#fff;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:70px 30px;
    background-image: url(bb.png);
}

.avatar{
   width: 100px;
   height:100px;
   border-radius:50%; 
    position:absolute;
    top:-60px;
    left:calc(50% - 50px);
}

h1{
    margin:0;
    padding:0 0 20px;
    text-align: center;
    font-size:22px;
    color: #000;
    
}
.loginbox p{
    margin:0;
    padding:0;
    font-weight: bold;
    color: #000;
    
    
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;

   
}
.loginbox input[type="text"], input[type="password"], input[type="number"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    color:rgb(12, 11, 11);
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border:none;
    outline: none;
    height: 40px;
    background:#fb2525;
    color: rgb(10, 10, 10);
    font-size: 18px;
    border-radius: 20px;
    
}
.loginbox input[type="submit"]:hover
{
    cursor:pointer;
    background: #07ff28;
    color:#000;
}
b{
    text-decoration: bold;
    font-size: 15px;
    color: #000;
    height: 12px;
    width: 12px;
   
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    color:rgb(4, 4, 4);
    
}
.loginbox a:hover
{
    color:#fbf9f5;
}
div.ahac{
    color: darkgray;
    font-size: 17px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    height:70px;
    width:100%;
    padding: 0 2rem;
    display:flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 1px 3px #ccc;
    position:sticky;
    top:0;
    z-index:99;
   background-color: #aa96da
   ;

}

nav .nav-left, nav .nav-right{
    display:flex;
    align-items: center;
}

nav .nav-left > img{
    width:40px;
    size: 13px;
}

nav .nav-left > input{
    height:40px;
    padding:5px 10px;
    border:none;
    border-radius: 25px;
    outline:none;
    background-color: #eee;
    margin-left: 10px;
}

nav .nav-middle{
    display:flex;
    align-items:flex-end;
    padding-bottom: 5px;
}

nav .nav-middle a{
    text-decoration: none;
    color:#333;
    padding:10px;
    margin:0px 10px;
}

nav .nav-middle a.active{
    color:royalblue;
    position:relative;
}

nav .nav-middle a.active::after{
    content:'';
    width:100%;
    height:3px;
    position:absolute;
    bottom:0;
    left:0;
    background:royalblue;
}

nav .nav-middle a > i{
    font-size: 25px;
}

nav .nav-right .profile, .container .left-panel .profile{
    background: url('./images/dp.jpg');
    height:30px;
    width:30px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

nav .nav-right a{
    text-decoration: none;
    color:#333;
    height:40px;
    width:40px;
    border-radius: 50%;
    background:#eee;
    display:grid;
    place-items: center;
    margin-left:1rem;
}

nav .nav-right a > i{
    font-size:18px;
}


.container{
    background:#eee;
    display:flex;
}

.container .left-panel, .container .right-panel{
    position: sticky;
    top:70px;
    width:250px;
    height:calc(100vh - 70px);
    background-color: #ffffd2;
}

.container .left-panel ul{
    padding:10px 0px;
}

.container .left-panel ul li{
    list-style: none;
    display: flex;
    padding:.7rem 1rem;
    align-items: center;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
}

.container .left-panel ul li:hover{
    background:#ddd;
}

.container .left-panel ul li > p{
    margin-left: 10px;
}

.container .left-panel ul li > i{
    font-size:20px;
    color:slateblue;
}

.container .left-panel ul li > i.fa-calendar-week{
    color:tomato;
}

.container .left-panel ul li i.fa-briefcase{
    color:green;
}

.container .left-panel ul li i.fa-star{
    color:yellowgreen;
}

.container .left-panel ul li i.fa-hands-helping{
    color:indianred;
}

.container .left-panel .footer-links{
    padding:5px 1rem;
}

.container .left-panel .footer-links a{
    text-decoration: none;
    color:#333;
    font-size:12px;
}

.middle-panel{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: mediumpurple;
}



.post{
    width:550px;
    background:#fff;
    border-radius:10px;
    padding:10px;
    margin:10px;
}

.post .post-top{
    display:flex;
    align-items: center;
    padding:10px;
}

.post .post-top .dp{
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow:hidden;
}

.post .post-top .dp > img{
    width:100%;
    cursor:pointer;
}

.post .post-top .post-info{
    margin-left:10px;    
    font-weight: bold;
}

.post .post-top .post-info .name{
    cursor:pointer;
    font-size:16px;
}

.post .post-top .post-info .time{
    font-size:12px;
    cursor:pointer;
}

.post .post-top i{
    margin-left:auto;
    cursor: pointer;
}

.post .post-top > input{
    height:40px;
    padding:5px 10px;
    border-radius:25px;
    outline:none;
    border:none;
    flex:1;
    background:#eee;
    margin-left:10px;
}

.post .post-content{
    font-size:16px;
    font-weight:normal;
    padding:10px;
}

.post .post-content > img{
    width:100%;
    margin:5px 0px;
}

.post .post-bottom{
    box-shadow: 1px solid #ddd;
    display:flex;
    justify-content: space-between;
    padding:5px 5px 0px 5px;
}

.post .post-bottom .action{
    padding:10px;
    border-radius:10px;
    transition: .3s ease-in;
    cursor: pointer;
}

.post .post-bottom .action:hover{
    background:#eee;
}

.post.create .post-bottom > .action{
    color:#d74;
}

.container .right-panel{
    padding:1rem;
}

.right-panel .pages-section,
.right-panel .community-section{
    margin:1rem 0px;
}

.right-panel .pages-section h4,
.right-panel .friends-section h4{
    margin-bottom:10px;
}

.right-panel .pages-section .page,
.right-panel .friends-section .friend{
    display: flex;
    align-items:center;
    text-decoration: none;
    transition: .3s ease-in-out;
    border-radius: 5px;
    padding:7px 10px;
    color:#333;
}

.right-panel .pages-section .page:hover,
.right-panel .friends-section .friend:hover{
    background:#ddd;
}

.right-panel .pages-section .page > .dp,
.right-panel .friends-section .friend > .dp{
    height:40px;
    width:40px;
    border-radius: 50%;
    overflow:hidden;
    cursor: pointer;
}

.right-panel .pages-section .page > .dp > img, 
.right-panel .friends-section .friend > .dp > img{
    width:100%;
}

.right-panel .pages-section .name, .right-panel .friends-section .name{
    font-size:18px;
    cursor:pointer;
    margin-left:8px;
}
.tac{
    color: #000;
    font-weight: bold;
    font-size: larger;
}